In [5]:

import numpy as np
import pandas as pd

# Load the DataSet (Update the path to the correct location where you saved the file)
df = pd.read_csv(r"C:\Users\Dell\Downloads\data.csv", encoding="ISO-8859-1")

# Quick Preview of Dataset
print("✅ Dataset Preview:")
print(df.head())
print("\nColumns:", df.columns.tolist())
print("\nBasic Info:")
print(df.info())

# 1. Total Purchase Amount by Country (Group by 'Country' and sum the 'UnitPrice' * 'Quantity')
df['Total Purchase Amount (USD)'] = df['UnitPrice'] * df['Quantity']
total_purchase_country = df.groupby("Country")["Total Purchase Amount (USD)"].sum().reset_index()
print("\n✅ Total Purchase Amount by Country:")
print(total_purchase_country)

# 2. Total Purchase Amount by Product Category (Group by 'StockCode' as a proxy for 'Category')
total_purchase_category = df.groupby("StockCode")["Total Purchase Amount (USD)"].sum().reset_index()
print("\n✅ Total Purchase Amount by Product Category (StockCode):")
print(total_purchase_category)

# 3. Average Age by Location (Assuming 'Country' represents location and 'Age' might be an inferred field)
# As 'Age' is not available, we can skip this and perhaps use 'Country' or other fields.
# If 'Age' existed, we would use something like:
# avg_age_location = df.groupby("Country")["Age"].mean().reset_index()
print("\n✅ Average Age by Location (Not Available in Dataset):")
print("Age data is not present in the dataset. We can use 'Country' or other fields for grouping.")

# 4. Customer Count by Subscription Status (No Subscription Status directly in the dataset)
# We will assume that we can count unique 'CustomerID' by 'Country'
customer_count_country = df.groupby("Country")["CustomerID"].nunique().reset_index()
customer_count_country.rename(columns={"CustomerID": "Customer Count"}, inplace=True)
print("\n✅ Customer Count by Country:")
print(customer_count_country)

# 5. Multiple Aggregations: Summary by Gender (Gender is not available in the dataset)
# Let's aggregate by 'Country' or another available field instead
country_summary = df.groupby("Country").agg(
    Total_Spend=("Total Purchase Amount (USD)", "sum"),
    Avg_Spend=("Total Purchase Amount (USD)", "mean"),
    Count=("CustomerID", "nunique")
).reset_index()

print("\n✅ Summary by Country (Aggregated):")
print(country_summary)

✅ Dataset Preview:
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

Columns: ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

✅ Total Purchase Amount by Country:
                 Country  Total Purchase Amount (USD)
0              Australia                   137077.270
1                Austria                    10154.320
2                Bahrain                      548.400
3                Belgium                    40910.960
4                 Brazil                     1143.600
5                 Canada                     3666.380
6        Channel Islands                    20086.290
7                 Cyprus                    12946.290
8         Czech Republic                      707.720
9                Denmark                    18768.140
10                  EIRE                   263276.820
11    European Community                     1291.750
12               Finland                    22326.740
13                France                   197403.900
14               Germany                   221698.210
15                Greece                     4710.520
16             Hong Kong                    10117.040
17               Iceland                     4310.000
18                Israel                     7907.820
19                 Italy                    16890.510
20                 Japan                    35340.620
21               Lebanon                     1693.880
22             Lithuania                     1661.060
23                 Malta                     2505.470
24           Netherlands                   284661.540
25                Norway                    35163.460
26                Poland                     7213.140
27              Portugal                    29367.020
28                   RSA                     1002.310
29          Saudi Arabia                      131.170
30             Singapore                     9120.390
31                 Spain                    54774.580
32                Sweden                    36595.910
33           Switzerland                    56385.350
34                   USA                     1730.920
35  United Arab Emirates                     1902.280
36        United Kingdom                  8187806.364
37           Unspecified                     4749.790

✅ Total Purchase Amount by Product Category (StockCode):
         StockCode  Total Purchase Amount (USD)
0            10002                       759.89
1            10080                       119.09
2            10120                        40.53
3           10123C                         3.25
4           10123G                         0.00
...            ...                          ...
4065  gift_0001_20                       167.05
4066  gift_0001_30                       175.53
4067  gift_0001_40                       100.70
4068  gift_0001_50                       167.56
4069             m                         2.55

[4070 rows x 2 columns]

✅ Average Age by Location (Not Available in Dataset):
Age data is not present in the dataset. We can use 'Country' or other fields for grouping.

✅ Customer Count by Country:
                 Country  Customer Count
0              Australia               9
1                Austria              11
2                Bahrain               2
3                Belgium              25
4                 Brazil               1
5                 Canada               4
6        Channel Islands               9
7                 Cyprus               8
8         Czech Republic               1
9                Denmark               9
10                  EIRE               3
11    European Community               1
12               Finland              12
13                France              87
14               Germany              95
15                Greece               4
16             Hong Kong               0
17               Iceland               1
18                Israel               4
19                 Italy              15
20                 Japan               8
21               Lebanon               1
22             Lithuania               1
23                 Malta               2
24           Netherlands               9
25                Norway              10
26                Poland               6
27              Portugal              19
28                   RSA               1
29          Saudi Arabia               1
30             Singapore               1
31                 Spain              31
32                Sweden               8
33           Switzerland              21
34                   USA               4
35  United Arab Emirates               2
36        United Kingdom            3950
37           Unspecified               4

✅ Summary by Country (Aggregated):
                 Country  Total_Spend   Avg_Spend  Count
0              Australia   137077.270  108.877895      9
1                Austria    10154.320   25.322494     11
2                Bahrain      548.400   28.863158      2
3                Belgium    40910.960   19.773301     25
4                 Brazil     1143.600   35.737500      1
5                 Canada     3666.380   24.280662      4
6        Channel Islands    20086.290   26.499063      9
7                 Cyprus    12946.290   20.813971      8
8         Czech Republic      707.720   23.590667      1
9                Denmark    18768.140   48.247147      9
10                  EIRE   263276.820   32.122599      3
11    European Community     1291.750   21.176230      1
12               Finland    22326.740   32.124806     12
13                France   197403.900   23.069288     87
14               Germany   221698.210   23.348943     95
15                Greece     4710.520   32.263836      4
16             Hong Kong    10117.040   35.128611      0
17               Iceland     4310.000   23.681319      1
18                Israel     7907.820   26.625657      4
19                 Italy    16890.510   21.034259     15
20                 Japan    35340.620   98.716816      8
21               Lebanon     1693.880   37.641778      1
22             Lithuania     1661.060   47.458857      1
23                 Malta     2505.470   19.728110      2
24           Netherlands   284661.540  120.059696      9
25                Norway    35163.460   32.378877     10
26                Poland     7213.140   21.152903      6
27              Portugal    29367.020   19.333127     19
28                   RSA     1002.310   17.281207      1
29          Saudi Arabia      131.170   13.117000      1
30             Singapore     9120.390   39.827031      1
31                 Spain    54774.580   21.624390     31
32                Sweden    36595.910   79.211926      8
33           Switzerland    56385.350   28.164510     21
34                   USA     1730.920    5.948179      4
35  United Arab Emirates     1902.280   27.974706      2
36        United Kingdom  8187806.364   16.525065   3950
37           Unspecified     4749.790   10.649753      4